html{
	margin: 0; 
	padding: 0;
}

body{
	background-image:-moz-linear-gradient(right, #DFFFCC, #F8ECE2);
	font-family: Verdana, sans-serif; 
	font-size: 100%;
	height: 100%;
}

h1{
	font-size: 200%;
	color: black;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding-top: 5%;
	padding-bottom: 5%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#description {
	float:left;
	width:90%;
	margin:0;
	padding:0;
}

#avis {
	float:right;
	width:10%;
}

section{
	min-height: 100%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 1%;
}

#nom{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	text-align: center;
}

#lien{
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#episode{
	margin-bottom: 4%;
	margin-top: 1%;
}

.underline{
	text-decoration: underline;
}